:root {
  --background: #ffffff;
  --foreground: #171717;

  --border-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    color-scheme: dark;
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.125em;
}

html {
  interpolate-size: allow-keywords;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.3;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto; /* Maintains aspect ratio */
  font-style: italic; /* For alt text */
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  object-fit: cover;
}

a {
  color: inherit;
}

button {
  all: unset;
  outline: revert; /* Restore the default focus outline removed by "all: unset" */
  box-sizing: border-box; /* Ensure the box-sizing reset is applied despite "all: unset" */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

textarea {
  resize: vertical;
}

a:where([href]),
button,
.button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
[type="image"],
[type="checkbox"],
[type="radio"],
label,
select,
summary {
  cursor: pointer;
}

.disabled,
:disabled,
[disabled],
[aria-disabled="true"] {
  cursor: not-allowed;
}

[aria-busy="true"] {
  cursor: progress;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }

  @view-transition {
    navigation: auto;
  }
}

[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;

  &:empty {
    display: none;
  }
}

[data-visually-hidden]:not([data-visually-hidden="false"], :focus, :active, :focus-within) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

details::details-content {
  overflow: hidden;
  height: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: content-visibility, height;
    transition-duration: 0.3s;
    transition-behavior: allow-discrete;
  }
}

details[open]::details-content {
  height: auto;
}

html:has(dialog[open]:modal) {
  scrollbar-gutter: stable; /* It doesn't work if applied to <body> */
}

body:has(dialog[open]:modal) {
  overflow: hidden; /* It hides sticky header if applied to <html> */
}

dialog[open]::backdrop {
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
}

/* Make the search cancel button black to match the black and white theme of the app */
::-webkit-search-cancel-button {
  filter: brightness(0);
}

/* Fancy focus indicator */
:focus-visible,
:target:focus {
  box-shadow: 0 0 0 3px white;
  outline: 2px solid black;
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible,
  :target:focus {
    animation: outline-close-in 0.2s ease-out;
  }
}

@keyframes outline-close-in {
  from {
    box-shadow: 0 0 0 3px transparent;
    outline-color: transparent;
    outline-offset: 6px;
  }
}

/* Ref: https://polypane.app/blog/css-only-floating-focus-with-anchor-positioning/ */
/* Note: the :not(:has(dialog[open]:modal) is needed because focus-anchor doesn't work inside modals */
@supports (position-anchor: --test) {
  html:not(:has(dialog[open]:modal)) *:focus {
    anchor-name: --focus-anchor;
    outline: none;
  }

  html:not(:has(dialog[open]:modal))::before {
    content: "";
    display: block;
    position: fixed;
    position-anchor: --focus-anchor;
    inset: anchor(inside);
    pointer-events: none;
    z-index: 2147483647;
    /* Actual style of the focus indicator */
    box-shadow: 0 0 0 3px white;
    outline: 2px solid black;
    outline-offset: 2px;

    @media (prefers-reduced-motion: no-preference) {
      transition: inset 0.1s linear;
    }
  }

  html:not(:has(dialog[open]:modal)):not(:focus-within)::before {
    opacity: 0;
  }
}
