.label {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.5rem;
  line-height: 1;
  font-size: var(--fs-12px);
  font-weight: 500;
  letter-spacing: 0.0625em;
  background-color: var(--foreground);
  color: var(--background);

  span {
    color: var(--clr-red-500);
  }
}
