.input-wrapper {
  --border-size: 1px;

  display: flex;
  flex-direction: column;

  label {
    margin-bottom: calc(var(--border-size) * -1);
  }
}

.input {
  border: var(--border-size) solid var(--foreground);
  line-height: 1.5;
  padding: 0.5rem;

  &[type="search"] {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.65 16.65M11 6C13.7614 6 16 8.23858 16 11M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    background-size: 1.5rem;
    padding-left: 2.5rem;
  }

  &[aria-invalid="true"] {
    border-color: var(--clr-red-600);
  }
}

.hint,
.error {
  display: flex;
  column-gap: 0.5ch;
  font-size: 0.875rem;
  margin-top: 0.5em;
  line-height: 1.1;
}

.hint {
  color: var(--clr-gray-600);
}

.error {
  color: var(--clr-red-600);
}
