.add-quote {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
}

.quote-list {
  margin-top: 48px;

  h2 {
    margin-bottom: 16px;
  }

  search {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
