.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;
}

.add-quote {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 48px;
}

.quote-list {
  h2 {
    margin-bottom: 16px;
  }

  search,
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  li:nth-child(odd) {
    background-color: color-mix(in srgb, var(--foreground) 5%, var(--background));
    padding: 16px;
  }
}
