.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 48px;
}

.add-quote {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
