.quote-card {
  position: relative;
  padding-right: 40px; /* Icon-button width */
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  min-height: calc((40px * 2) - (16px * 2)); /* calc((icon-button height * 2) - (padding * 2)) */
}

.actions {
  position: absolute;
  top: -16px;
  right: -16px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
