.quote-card {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  min-height: calc((40px * 2) - (16px * 2)); /* calc((icon-button height * 2) - (padding * 2)) */
}

li:has(.quote-card) {
  outline: 1px solid var(--foreground);
  outline-offset: -1px;

  + li {
    margin-top: -1px;
  }

  &:nth-child(odd) {
    background-color: color-mix(in srgb, var(--foreground) 5%, var(--background));
  }
}
